#box{
    max-width: 100vw;
    max-height: 100vh;
    color: #3f4041;
    font-family:'Lato';
    text-shadow: 1px 1px 15px black;
}
#heading{
    margin: 10%;
}
#menu{
    max-width: 25vw;
    max-height: 100vh;
}
#menuItem{
    max-width: 50vw;
    height: 100vh;
}
#menuItemImage{
    width: 25vw;
    border-radius: 25%;
    margin-left: 17%;
    margin-bottom: 10%;
    opacity: 95%;
    box-shadow: 1px 1px 10px rgb(17, 16, 16);
}
#menuItemImage:hover{
    opacity: 90%;
    box-shadow: 10px 10px 10px rgb(17, 16, 16);
}
#thumbnail{
    max-width: 20%;
    border-radius: 25%;
    box-shadow: inset;
    box-shadow: 1px 1px 10px #0b0b0b;
    opacity: 90%;
    margin: 5%;
}
#thumbnail:hover{
    opacity: 50%;
}
#thumbnailText{
    font-size: large;
}
#list{
    list-style-type: none;
}
#descriptionTitle{
    text-shadow: 1px 1px 8px rgb(74, 72, 72);;
    margin-bottom: 2%;
 font-weight: bold;
 font-size: 2vw;
}
#itemDescription{
    font-size: large;
    width: 50%;
    padding-left: 15%;
    display:inline-flex;
}

#categories{
    float:inline-end;
    width: 15%;
    background-color: blanchedalmond;
    border-radius: 25%;
    padding: 2%;
}
#taptini{
    font-size: 6vw;
}