#box{
    max-width: 100%;
    max-height: 100%;
    color: #3f4041;
    font-family:'Lato';
    text-shadow: 1px 1px 15px black;
}
#headingMenu{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#menu{
    max-width: 25%;
    max-height: 100%;
}
#menuItem{
    max-width: 50%;
    height: 100%;
}
#menuItemImage{
    display: block;
    width: 50%;
    border-radius: 15%;
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 3%;
    opacity: 90%;
    box-shadow: 10px 10px 10px rgb(17, 16, 16);
}
#menuItemImage:hover{
    opacity: 95%;
}
#thumbnail{
    max-width: 20%;
    border-radius: 25%;
    box-shadow: inset;
    box-shadow: 1px 1px 10px #0b0b0b;
    opacity: 90%;
    margin: 3%;
}
#thumbnail:hover{
    opacity: 50%;
}
#thumbnailText{
    font-size: 100%;
}
#list{
    list-style-type: none;
}
#descriptionTitle{
    text-align: center;
    padding-left: 10%;
    float: left;
    width: 80%;
    text-shadow: 1px 1px 8px rgb(74, 72, 72);;
    font-weight: bold;
    font-size: 150%;
}
#itemDescription{
    text-align: center;
    float: left;
    font-size: 120%;
    padding-left: 10%;
    width: 80%;
}

/* #categories{
    display:inline-flex;
    min-width: 12%;
    margin-left: 2%;
    background-color: blanchedalmond;
    border-radius: 25%;
    text-align: center;
    padding: 2%;
    box-shadow: 1px 1px 10px #0b0b0b;
} */
#price{
    font-weight: bolder;
    font-size: larger;
    display:inline-flex;
    min-width: 12%;
    margin-left: 2%;
    background-color: blanchedalmond;
    border-radius: 25%;
    text-align: center;
    padding: 2%;
    box-shadow: 1px 1px 10px #0b0b0b;
}
#taptini{
    font-size: 500%;
    margin-left:20%
}

#extras{
    max-width: 25%;
    max-height: 100%;
}

#headingExtras{
    margin: 8% 10%;
}
#extrasBox{
    max-width: 100%;
    max-height: 100%;
    font-size: 100%;
}
#extrasContainer{
    width: 75%;
    background-color: blanchedalmond;
    box-shadow: 1px 1px 10px #0b0b0b;
    border-radius: 10%;
    padding: 10% 5%;
}

#extrasNames,#extrasPrice,#inputExtras{
    display:inline-block;
    text-shadow: 1px 1px 10px #0b0b0b;
    margin-bottom: 10%;
}

#extrasNames{
    width: 40%;
}
#extrasPrice{
    text-align: center;
    width: 40%;
}
#inputExtras{
    background-color: blanchedalmond;
    text-align: center;
    width: 20%;
    border: none;
}
#inputSpan{
 width: 20%;
}
#addToCartButton{
    background-color: blanchedalmond;
    box-shadow: 1px 1px 10px #0b0b0b;
    text-shadow: 1px 1px 10px #0b0b0b;
    border-radius: 15%;
    padding: 2%;
    margin: 10% 10%;
}
#addToCartButton:active{
border: none;
}
#drinkBox{
    width: 100%;
    height: 100%;
}
#drinkColumn{
 width: 75%;
 height: 100%;
}
#drinkButtons{
    width: 75%;
    padding: 5%;
}
#buttonBackward{
    margin-left: 10%;
}
#buttonForward{
    
    margin-left: 20%;
}
#buttonForward, #buttonBackward{
    background-color: blanchedalmond;
    box-shadow: 1px 1px 10px #0b0b0b;
    border-radius: 15%;
}
#drinkTitle{
    margin-top: 5%;
    width: 75%;
    text-align: center;
    text-shadow: 1px 1px 8px rgb(74, 72, 72);;
    font-weight: bold;
    font-size: 150%;
}
#drinkImage{
    margin-top: 5%;
    display: block;
    width: 75%;
    height: 75%;
    border-radius: 15%;
    opacity: 90%;
    box-shadow: 10px 10px 10px rgb(17, 16, 16);
}